/* App specific styles if needed */
.page-content {
    max-width: 600px;
    margin: 0 auto;
    width: 100%;
}

@media (min-width: 600px) {
    .layout-container {
        max-width: 600px;
        margin: 0 auto;
        box-shadow: 0 0 50px rgba(0,0,0,0.5);
    }
    .nav-bar {
        max-width: 600px;
        left: 50% !important;
        transform: translateX(-50%);
        border-radius: 20px 20px 0 0;
    }
}
